<Configuration>
    <Appenders>
        <File name="file" fileName="/Users/berkiberi/Desktop/logging/logfile.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5Level (%F:%L)- %msg%n"/>
        </File>

    </Appenders>
    <Loggers>

        <Root level="INFO" additivity="false">
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>