name: jms-docker-be
services:
  jms-be:
    image: vladokat/jms-be:e7e4cad
    #    build:
#      context: .
#      dockerfile: Dockerfile_app
    container_name: jms-be
    depends_on:
      - db
    environment:
      SPRING_PROFILE: cloud
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${JMS_DATABASE_NAME}?autoreconnect=true&createDatabaseIfNotExist=true&characterEncoding=utf8
      JMS_DATABASE_NAME: ${JMS_DATABASE_NAME}
      JMS_DATABASE_USER: ${JMS_DATABASE_USER}
      JMS_DATABASE_PASSWORD: ${JMS_DATABASE_PASSWORD}
      SECRET_KEY: ${SECRET_KEY}
    ports:
      - "8080:8080"
#    volumes:
#      - ./jewellery-inventory-0.0.1-SNAPSHOT.jar:/jar/app.jar
    networks:
      - jms-network
  db:
#    container_name: postgres
    image: jms-db
    build:
      context: .
      dockerfile: Dockerfile_DB
    restart: always
    environment:
      POSTGRES_DB: ${JMS_DATABASE_NAME}
      POSTGRES_USER: ${JMS_DATABASE_USER}
      POSTGRES_PASSWORD: ${JMS_DATABASE_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - jms-network

volumes:
  postgres_data:

networks:
  jms-network:
    name: jms-network
    driver: bridge

